<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://192.168.0.106:3306/futurebeer</property>
		<property name="connection.username">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.password">admin</property>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

	    <!--  thread is the short name for
	      org.hibernate.context.ThreadLocalSessionContext
	      and let Hibernate bind the session automatically to the thread
	    -->

	    <property name="current_session_context_class">thread</property>
	    <!-- this will show us all sql statements -->
	    <property name="hibernate.show_sql">false</property>
	    
	    <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="com.futurebeer.entity.Mesa"/>
        <mapping class="com.futurebeer.entity.MesaOcupacao"/>
        <mapping class="com.futurebeer.entity.Pedido"/>
        <mapping class="com.futurebeer.entity.ItemPedido"/>
        <mapping class="com.futurebeer.entity.Produto"/>
	</session-factory>
</hibernate-configuration>