.table{
	border:thin solid black;
}

.header{
	text-align:center;
	font-style:italic;
	color:Snow;
	background:Teal;
}

.oddRow{
	height:25px;
	text-align:center;
	background:MediumTurquoise;
}

.evenRow{
	text-align:center;
	background:PowderBlue;
}