.mesa_ocupada .ui-panel-titlebar {
    background: #993333;
    color:#CCCCCC;
}

.mesa_livre .ui-panel-titlebar {
    background: #339933;
    color:#CCCCCC;
}

.errors { 
   font-style: italic; 
   color: red; 
} 
